/* REUSABLE */
.active,
.form.active,
.ty-article.active
{
display: grid;

}



.btn-star{
    background-color: transparent;
    border: 0px;
}
/* END REUSABLE */





/* GLOBAL */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



html,
body{
    width: 100%;
    height: 100%;
}


body{
display: grid;
place-content: center;
background-color: var(--Very-Dark-Blue);

}
/*END GLOBAL */


:root{
    /* ## Colors */

/* ### Primary */

--Orange: hsl(25, 97%, 53%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);

/* ## Typography */

/* ### Body Copy */

--Font-paragraph: 15px;

/* ### Font */
}



/* form */

.form{
display: none;
width: 415px;
height: 415px;
place-content: center;
gap: 20px;
background: var(--Dark-Blue);
border-radius: 35px;
padding: 35px;
color: var(--White);
}


.form .form-header{
    box-shadow: 0 0 12px -5px black;


    background: var(--Dark-Blue);
    display: grid;
    place-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


.form .form-main{
    display: grid;
    gap: 20px;
}

.form .form-main .text{
    color: var(--Light-Grey);
}


.form .form-main ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.form .form-main ul li{
    box-shadow: 0 0 12px -5px black;
    color: var(--Light-Grey);

    display: flex;
    align-items: center;
    justify-content: center;
     
 border-radius: 50%;
    height: 50px;
    width: 50px;
    background: var(--Dark-Blue);


}
.form .form-main ul li.check{
    cursor: pointer;
    background-color: var(--White);
    color: black;

}

.form .form-main ul li:hover{
    cursor: pointer;
    background-color: var(--White);
    color: black;

}

.form .form-footer{
    min-width: 100%;
}

.form .form-footer .btn-submit{
    cursor: pointer;

    background-color: var(--Orange);
    color: var(--White);
    min-width: 100%;
    padding: 15px 15px;
    border: 0px;
    border-radius: 25px;
    font-weight: bold;
}

.form .form-footer .btn-submit:hover{
    background-color: var(--White);
    color: black;
    
}

/* END form */



/* ARTICLE */


.ty-article{
    display: none;
    width: 415px;
    height: 415px;
    background-color: var(--Dark-Blue);
    place-content: center;
    text-align: center;
    border-radius: 35px;
    gap: 30px;
    color: white;
    padding: 35px;
}


article .sec-img,
article .sec-text
{
    display: grid;
    place-content: center;
    gap: 10px;

}


article .sec-img img
{
    display: inline-flex;
    gap: 10px;

}


article .sec-text .text
{
    color: var(--Light-Grey);
    line-height: 1.3;

}

/* END ARTICLE */
